.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 7px 7px black;
    background-color: rgb(233, 232, 232);
}

.question {
    font-size: 14px;
    margin-bottom: 7px;
}

.thought-input {
    border: 1px solid black;
    height: 70px;
    background-color: white;
    margin: 5px 0px 10px 0px;
}

.submit-button {
    border: none;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    width: fit-content;
    color: black;
    background-color: pink;
    border-radius: 23px;
    padding: 5px 12px 6px 12px;
    margin: 5px 0px 0px 0px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: rgb(253, 174, 187);
}

@media (min-width: 558px) {

    .form-container {
        width: 450px;
    }

}